<app-panel-sub-module icon = "fas fa-parking"
                      title = "Parqueos">
  <table [dtOptions] = "dtOptions"
         [dtTrigger] = "dtTrigger"
         aria-label = "Tabla de parqueos mensuales"
         class = "table hover table-striped animate__animated animate__fadeInLeft"
         datatable>
    <thead>
    <tr class = "">
      <th scope = "col"
          style = "width: 200px">Nombre
      </th>
      <th scope = "col"
          style = "width: 200px">Dirección
      </th>
      <th scope = "col"
          style = "width: 200px">Espacios
      </th>
      <th scope = "col"
          style = "width: 200px">Especiales
      </th>
      <th scope = "col"
          style = "width: 200px">Estado
      </th>
      <th scope = "col"
          style = "width: 200px">NIT
      </th>
      <th scope = "col"
          style = "width: 300px">Dirección
      </th>
      <th scope = "col"
          style = "width: 200px">Razón
      </th>
      <th scope = "col"
          style = "width: 200px">Tiempo para salir
      </th>
      <th scope = "col">Mostrar en el mapa</th>
      <th scope = "col">TAS</th>
      <th scope = "col">Teléfonos</th>
      <th scope = "col">Eliminado</th>
      <th scope = "col">Lane Number</th>
      <th scope = "col">Mostrar cortesias en la aplicación</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor = "let parking of parkingLot">
      <td (focusout) = "changeValue($event.target, parking, 'name')"
          contenteditable>{{parking.name}}</td>
      <td (focusout) = "changeValue($event.target, parking, 'address')"
          contenteditable>{{parking.address}}</td>
      <td (focusout) = "changeValue($event.target, parking, 'parking_spaces')"
          contenteditable>{{parking.parking_spaces}}</td>
      <td (focusout) = "changeValue($event.target, parking, 'special_parking_spaces')"
          contenteditable>{{parking.special_parking_spaces}}</td>
      <td (focusout) = "changeValue($event.target, parking, 'status')"
          contenteditable>{{parking.status}}</td>
      <td (focusout) = "changeValue($event.target, parking, 'nit')"
          contenteditable>{{parking.nit}}</td>
      <td (focusout) = "changeValue($event.target, parking, 'business_address')"
          contenteditable>{{parking.business_address}}</td>
      <td (focusout) = "changeValue($event.target, parking, 'business_name')"
          contenteditable>{{parking.business_name}}</td>
      <td (focusout) = "changeValue($event.target, parking, 'minutes_to_exit')"
          contenteditable>{{parking.minutes_to_exit}}</td>
      <td (focusout) = "changeValue($event.target, parking, 'is_show_map')"
          contenteditable>{{parking.is_show_map}}</td>
      <td (focusout) = "changeValue($event.target, parking, 'is_TAS')"
          contenteditable>{{parking.is_TAS}}</td>
      <td (focusout) = "changeValue($event.target, parking, 'phone_numbers')"
          contenteditable>{{parking.phone_numbers}}</td>
      <td (focusout) = "changeValue($event.target, parking, 'is_draft')"
          contenteditable>{{parking.is_draft}}</td>
      <td (focusout) = "changeValue($event.target, parking, 'lane_number')"
          contenteditable>{{parking.lane_number}}</td>
          <td (focusout) = "changeValue($event.target, parking, 'show_courtesies_in_app')"
          contenteditable>{{parking.show_courtesies_in_app}}</td>
    </tr>
    </tbody>
  </table>
</app-panel-sub-module>
