<app-panel-sub-module title = "Datos generales">
  <div class = "container form-group">
    <div class = "row">
      <app-input-container [formGroup] = "stepOneForm"
                           controlName = "name"
                           name = "Nombre">
      </app-input-container>
      <app-input-container [formGroup] = "stepOneForm"
                           controlName = "address"
                           maxL = '100'
                           name = "Dirección"
      >
      </app-input-container>
      <app-input-container [formGroup] = "stepOneForm"
                           controlName = "parking_spaces"
                           name = "Número de parqueos"
                           type = 'number'>
      </app-input-container>
      <app-input-container [formGroup] = "stepOneForm"
                           controlName = "special_parking_spaces"
                           name = "Número de parqueos especiales"
                           type = 'number'>
      </app-input-container>
      <app-input-container [formGroup] = "stepOneForm"
                           controlName = "minutes_to_exit"
                           name = "Tiempo de salida"
                           type = 'number'>
      </app-input-container>
      <app-select-container
        [data] = "countries"
        [formGroup] = "stepOneForm"
        controlName = "country"
        name = "País">
      </app-select-container>
    </div>
    <app-text-area-container
      [formGroup] = "stepOneForm"
      controlName = "rules"
      name = "Reglamento interno">
    </app-text-area-container>
    </div>
    <div class = "row in">
      <div class = "col-sm-1">
        <app-checkbox-container
          [formGroup] = "stepOneForm"
          controlName = "is_TAS"
          name = "TAS"
        ></app-checkbox-container>
      </div>
      <div class = "col-sm-1 offset-1">
        <app-checkbox-container
          [formGroup] = "stepOneForm"
          controlName = "is_show_map"
          name = "Mostrar en el mapa"
        ></app-checkbox-container>
      </div>
      <div class = "col-sm-1 offset-2">
        <button (click) = "emmitStep(1)"
                class = "btn btn-primary col-sm-1 h-50 mt-1"
                id = "next-btn"
                type = "button">Siguiente
        </button>
      </div>
    </div>
</app-panel-sub-module>
