<div [formGroup] = "formGroup"
     class = "m-2 relative">
  <label class = "labelInput"
         style = "display: block;">{{this.name}}</label>
  <ng-select [placeholder] = "this.name"
             (change) = "onChangeFunction($event)"
             formControlName = "{{controlName}}"
             notFoundText = "No se encontraron coincidencias">
    <ng-option *ngFor = "let item of data"
               [value] = "item.id"
               class = "inputClass">{{item.name | titlecase}}</ng-option>
  </ng-select>
  <div *ngIf = "controlInvalid(controlName)"
       class = "text-danger animate__animated animate__fadeIn mb-1">* El valor no es válido
  </div>
</div>
