<app-panel-sub-module icon = "fas fa-broadcast-tower"
                      [formGroup] = 'stationaryForm'
                      title = "Cortesías estacionarias">
  <div *ngIf = 'ifHaveAction(createCourtesyStationary)'
       class = 'row'>
    <app-input-container
      [formGroup] = 'stationaryForm'
      controlName = 'name'
      name = 'Nombre de la cortesía'>
    </app-input-container>
    <app-select-container
      (change) = "this.getNewConditions()"
      [data] = ' this.typeCourtesies'
        [formGroup] = 'this.stationaryForm'
        controlName = 'type'
              name = 'Tipos de cortesía'>
            </app-select-container>
            <app-input-container
              [formGroup] = 'stationaryForm'
              controlName = 'value'
              name = '{{this.inputValueFromNewCourtesy()}}'
              type = 'number'>
            </app-input-container>
      <app-input-container *ngIf = 'this.stationaryCourtesiesFormValue.type == 4'
                           [formGroup] = 'this.stationaryForm'
                           controlName = 'valueTimeMinutes'
                           name = 'Cantidad de minutos'
                           type = 'number'>
      </app-input-container>
            <app-select-container
              [data] = 'typeOfCondition'
              [formGroup] = 'stationaryForm'
              controlName = 'condition'
              name = 'Tipo de condición'>
            </app-select-container>
          <div
            *ngIf = 'this.conditionValue == 2 || this.conditionValue == 3'
            class = 'col-xl-6 col-sm-12 animate__animated animate__fadeInDown mt-1'>
            <app-input-container
              [formGroup] = 'stationaryForm'
              controlName = 'cantHours'
              name = 'Cantidad de horas'
              type = 'number'>
            </app-input-container>
          </div>
            <app-select-container
              [data] = 'allCompanies'
              [formGroup] = 'stationaryForm'
              controlName = 'companyId'
              name = 'Local'>
            </app-select-container>
          <div class = 'col-md-6 col-sm-12 '>
            <div class = 'relative'>
              <app-select-container
                [data] = ' this.allAntennas'
                [formGroup] = 'this.stationaryForm'
                controlName = 'stationId'
                name = 'Estaciones'
                style = 'position: relative; display: inline-block; width: 100%;'>
              </app-select-container>
              <button
                *ngIf = 'ifHaveAction(addStationsCourtesyStationary)'
                class = 'btn-primary btn-input animate__animated animate__fadeInDown'
                data-bs-target = '#exampleModal'
                data-bs-toggle = 'modal'
                style = 'position: absolute;
                      right: 0; margin-bottom: 7px !important;
                       top: 7px;
                    display: inline-block;
                    padding: 9px!important;'
                type = 'button'>+
              </button>
            </div>
          </div>
    </div>
        <div class = 'row '>
          <div class = 'd-grid gap-2 d-md-flex justify-content-md-center m-3'>
            <button
              (click) = 'addStationaryCourtesies()'
              class = 'btn btn-success animate__animated animate__fadeInDown'
              type = 'button'>Guardar
            </button>
            <button (click) = "idEditAntenna = '' "
                    *ngIf = "idEditAntenna"
                    class = "btn btn-success animate__animated animate__fadeInDown m-1"
                    type = "button">Cancelar edición
            </button>
          </div>
        </div>
          <table
            [dtOptions] = 'dtOptions'
            [dtTrigger] = 'dtTrigger'
            aria-label = 'Tabla de cortesías estacionarias'
            class = 'table hover table-striped animate__animated animate__fadeInLeft '
            datatable>
            <thead>
            <tr class = 'text-center'>
              <th scope = 'col'>Nombre de cortesía</th>
              <th scope = 'col'>Tipo</th>
              <th scope = 'col'>Valor</th>
              <th scope = 'col'>Local</th>
              <th scope = 'col'>Cortesía estacionaria</th>
              <th
                scope = 'col'
                style = 'width: 17%'>Creada en:
              </th>
              <th scope = 'col'>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr
              *ngFor = 'let antenna of stationsCourtesies; index as i'
              class = 'animate__animated animate__fadeIn text-center'>
              <th id = '{{antenna.name + i}}'>{{antenna.courtesy_detail?.name || 'Sin nombre' | titlecase}} </th>
              <td>{{this.getTypeDescription(antenna.courtesy_detail!.type).name | titlecase}}</td>
              <td>{{antenna.courtesy_detail!.value | courtesyValue: antenna.courtesy_detail!.type}}</td>
              <td>{{antenna.courtesy_detail?.company?.name || ''}}</td>
              <td>{{antenna.name | titlecase}}</td>
              <td>{{antenna.created_at | date: 'medium'}}</td>
              <td>
                <button (click) = " editAntenna(antenna) "
                        *ngIf = "ifHaveAction(editCourtesyStationary)"
                        class = "buttonRowEdit buttonIcon me-1"
                        title = "Editar"><em class = "fas fa-edit"></em>
                </button>
                <button (click) = "openParkingToCourtesy(antenna.courtesy_detail?.id,contenido) "
                        *ngIf = "ifHaveAction(addParkingToCourtesyStationary)"
                        class = "buttonRowAlert buttonIcon"
                        title = "Agregar Parqueo"><em class = "fas fa-parking"></em>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
</app-panel-sub-module>
<!-- Modal -->
<div
  aria-hidden = 'true'
  aria-labelledby = 'exampleModalLabel'
  class = 'modal fade '
  id = 'exampleModal'
  tabindex = '-1'>
  <div class = 'modal-dialog modal-xl '>
    <div class = 'modal-content'>
      <div class = 'modal-header'>
        <h5
          class = 'modal-title'
          id = 'exampleModalLabel'>Administrar antenas de cortesías estáticas</h5>
        <button
          aria-label = 'Close'
          class = 'btn-close'
          data-bs-dismiss = 'modal'
          type = 'button'></button>
      </div>
      <div class = 'modal-body'>
        <app-antennas-from-courtesy
          (stationsSaved) = 'searchAntennasByParking()'
          [parkingId] = 'this.parkingId'>
        </app-antennas-from-courtesy>
      </div>
      <div class = 'modal-footer'>
        <button
          class = 'btn btn-secondary'
          data-bs-dismiss = 'modal'
          type = 'button'>Close
        </button>
      </div>
    </div>
  </div>
</div>
<ng-template #contenido
             let-modal>
  <div class = "modal-header">
    <h5 class = "modal-title">Agregar Parqueos a las cortesías</h5>
    <button (click) = 'this.modal.close()'
            aria-label = "Close"
            class = "btn-close"
            type = "button"></button>
  </div>
  <div class = "modal-body">
    <div class = "list-group">
      <app-list-checkbox-container></app-list-checkbox-container>
    </div>
  </div>
  <hr>
  <div class = "text-center">
    <button (click) = "addParkingToCourtesy()"
            class = "btn btn-primary me-1"
            data-bs-dismiss = "modal"
            type = "button">Agregar

    </button>
    <button
      (click) = 'this.modal.close()'
      class = 'btn btn-secondary'
      data-bs-dismiss = 'modal'
      type = "button">Cerrar
    </button>
  </div>
</ng-template>
