<app-panel-sub-module icon = "fas fa-file-invoice"
                      title = "Facturación">
  <form [formGroup] = 'stepFourForm'
        class = 'needs-validation form-group'
        id = 'form-wrapper'
        method = 'post'
        name = 'form-wrapper'
        novalidate = ''>
    <div *ngIf = 'settingsOptions'
         id = 'steps-container'>
      <div class = 'row'>
        <app-input-container [formGroup] = 'stepFourForm'
                             controlName = 'business_name'
                             name = 'Nombre'
                             type = 'text'>
        </app-input-container>
        <app-input-container
          [formGroup] = "stepFourForm"
          controlName = "nit"
          name = "Nit"
          type = "text">
        </app-input-container>
        <app-input-container [formGroup] = 'stepFourForm'
                             controlName = 'business_address'
                             maxL = '100'
                             name = 'Dirección'
                             type = 'text'>
        </app-input-container>
        <app-select-container
          [data] = "settingsOptions.paymentMethods"
          [formGroup] = "stepFourForm"
          controlName = "pay_method"
          name = "Método de pago">
        </app-select-container>
        <app-select-container
          [data] = 'this.settingsOptions.currencyOptions'
          [formGroup] = 'stepFourForm'
          controlName = 'currency'
          name = 'Moneda'></app-select-container>
        <app-input-container
          [formGroup] = 'stepFourForm'
          controlName = 'afiliacion'
          name = 'Afilicaión'
          type = 'text'>
        </app-input-container>
        <app-input-container
          [formGroup] = 'stepFourForm'
          controlName = 'terminal'
          name = 'Terminal'
          type = 'text'>
        </app-input-container>
        <app-input-container
          [formGroup] = 'stepFourForm'
          controlName = 'merchant_id'
          name = 'Id Mercante'
          type = 'text'>
        </app-input-container>
        <app-input-container
          [formGroup] = 'stepFourForm'
          controlName = 'merchant_pass'
          name = 'Contraseña Mercante'>
        </app-input-container>
      </div>
    </div>
      <div class = 'text-center'
           id = 'q-box__buttons'>
        <button (click) = 'emmitStep(-1)'
                *ngIf = 'showNavigationButtons && isCreatingParking'
                class = 'btn btn-primary m-2'
                id = 'prev-btn'
                type = 'button'>Anterior
        </button>
        <button (click) = 'emmitStep(1)'
                *ngIf = 'isCreatingParking'
                class = 'btn btn-primary m-2'
                id = 'next-btn'
                type = 'button'>{{showNavigationButtons ? 'Siguiente' : 'Guardar'}}
        </button>
        <button (click) = 'saveBillingData()'
                *ngIf = '!isCreatingParking'
                class = 'btn btn-primary m-2'
                id = 'save-btn'
                type = 'button'>Guardar
        </button>
      </div>
  </form>
</app-panel-sub-module>
