<app-panel-sub-module icon = "fas fa-user"
                      title = "Roles y permisos">
    <div class = "col-sm-12">
      <div class = "text-center">
        <label class = "labelInput">Roles</label>
        <select
          (change) = "changeRole()"
          [(ngModel)] = "roleIdSelected"
          class = "inputClass"
          data-placeholder = "Seleccione un rol"
          id = "roleId"
          name = "roleId">
          <option *ngFor = "let role of Roles"
                    value = "{{role.id}}">{{role.name}}</option>
          </select>

        </div>
      <div class = "text-center">
        <button (click) = "savePermissions()"
                class = "text-center btn btn-success position-top h-25 mt-2">Guardar
        </button>
      </div>

      </div>
      <div class = "row mt-5">
        <div *ngFor = "let module of getModules; index as i"
             class = " col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
          <div class = "panelsWithOutMinHeight  text-center">
            <div class = "titleCards title">
              <span><em class = ""></em></span> {{module | titlecase}}
            </div>
            <div class = "text-center">
              <div aria-label = "Basic checkbox toggle button group"
                   class = "btn-group"
                   role = "group">
                <div class = "row">
                  <div>
                    <ul class = "opcionActivo">
                      <li *ngFor = " let item of getPermissionsForModules(module)">

                        <input [(ngModel)] = "item.checked"
                               autocomplete = "off"
                               class = "form-check-input"
                               id = "{{item.id}}"
                               name = "{{item.description}}"
                               type = "checkbox"
                               value = "{{item.checked}}">
                        <label [for] = "item.id"
                               class = "form-check-label ms-2"> {{  item.description}}</label></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</app-panel-sub-module>
