<!-- Modal -->
<div aria-hidden = 'true'
     aria-labelledby = 'assignCourtesyLabel'
     class = 'modal fade'
     id = 'assignCourtesy'
     tabindex = '-1'>
  <div class = 'modal-dialog modal-dialog-centered'>
    <div class = 'modal-content'>
      <div class = 'modal-header'>
        <h5 class = 'modal-title'
            id = 'assignCourtesyLabel'>Cortesías estacionarias</h5>
        <button aria-label = 'Close'
                class = 'btn-close'
                data-bs-dismiss = 'modal'
                type = 'button'></button>
      </div>
      <div class = 'modal-body'>
        <div *ngIf = 'isLoading'>
          <p class = 'placeholder-glow'>
            <span class = 'placeholder col-12'></span>
          </p>
          <p class = 'placeholder-wave'>
            <span class = 'placeholder col-12'></span>
          </p>
        </div>
        <div *ngIf = 'courtesies.length > 0 && !isLoading'>
          <ul class="list-group">
          <div *ngFor = 'let item of courtesies; let i'>
              <button
                (click) = 'assignCourtesy(item)'
                type="button"
                class="list-group-item list-group-item-action h6">
                {{item.name}} <i *ngIf="courtesyClicked===item" class="far fa-check-circle"></i>
              </button>
          </div>
          </ul>
        </div>
        <div *ngIf = '!isLoading && courtesies.length == 0'>
          <figure class = 'text-center'>
            <blockquote class = 'blockquote'>
              <p>No se encontraron cortesías estacionarias para este parqueo</p>
            </blockquote>
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>
