<app-panel-sub-module icon = "fas fa-users"
                      [formGroup] = 'newUserForm'
                      title = "Crear Usuario">
  <app-input-container [formGroup] = 'newUserForm'
                       controlName = 'name'
                       name = 'Nombre'>
  </app-input-container>
  <app-input-container [formGroup] = 'newUserForm'
                       controlName = 'last_name'
                       name = 'Apellido'>
  </app-input-container>
  <app-input-container [formGroup] = 'newUserForm'
                       [readonly] = 'isEdit'
                         controlName = 'email'
                         name = 'Correo'>
    </app-input-container>
    <app-select-container [data] = 'this.getRoles()'
                          [formGroup] = 'newUserForm'
                          controlName = 'role'
                          name = 'Roles de usuario'>
    </app-select-container>
    <app-input-container [formGroup] = 'newUserForm'
                         controlName = 'user'
                         name = 'Alias'>
    </app-input-container>
    <app-input-container [formGroup] = 'newUserForm'
                         [readonly] = 'isEdit'
                         controlName = 'password'
                         name = 'Contraseña'
                         textInfo = 'La contraseña debe contener al menos 7 caracteres, una letra mayúscula y un dígito'
                         type = 'password'>
    </app-input-container>
    <app-select-container *ngIf = 'this.selectedRoleIsCourtesy'
                          [data] = 'companies'
                          [formGroup] = 'newUserForm'
                          controlName = 'company'
                          name = "Local">
    </app-select-container>
    <div class = 'col-lg-12 ms-2'>
      <div *ngFor = "let parking of this.getParkingLotsFormArray().controls; let i = index"
           class = "form-check-inline col-sm-3 m-1"
           formArrayName = "otherParkings">
        <input (change) = "onChangeCheckbox(i, otherParkingLot[i], $event)"
               [formControlName] = "i"
               [id] = "otherParkingLot[i].id"
               class = "form-check-input"
               type = "checkbox">
        <label [for] = "otherParkingLot[i].id"
               class = "form-check-label ms-1">
          {{otherParkingLot[i].name}}
        </label>
      </div>
    </div>
    <div class = 'col-sm-12'>
      <div class = 'text-center'>
        <button
          (click) = 'selectAllCheckboxes()'
          class = 'btn btn-outline-dark form-check-inline'>
          Marcar todos
        </button>
        <button
          (click) = 'clearAllCheckboxes()'
          class = 'btn btn-outline-dark form-check-inline'>
          Desmarcar todos
        </button>
        <button (click) = 'saveNewUser()'
                class = 'btn btn-success me-3'
                type = 'button'>GUARDAR
        </button>
        <button (click) = 'cleanForm()'
                *ngIf = 'isEdit'
                class = 'btn btn-secundary '
                type = 'button'>Cancelar edicion
        </button>
      </div>
      <div class = 'mb-4 relative'></div>
    </div>
</app-panel-sub-module>
