<app-panel-sub-module icon = "fas fa-sitemap"
                      title = "Bitácora">
  <div class = "row">
    <app-input-container
      [columns] = "4"
      [formGroup] = "searchLogForm"
      controlName = "telephone"
      maxL = "14"
      name = "Teléfono"
      type = "number"
    ></app-input-container>
    <app-input-container
      (change) = 'this.rerender()'
      [columns] = "4"
      [formGroup] = 'searchLogForm'
      [value] = "now | date: 'yyyy-MM-dd'"
      controlName = 'initDate'
      maxL = "{{now | date:'yyyy-MM-dd'}}"
      name = 'Inicio de Búsqueda'
      type = 'Date'
          ></app-input-container>
          <app-input-container
            (change) = 'this.rerender()'
            [formGroup] = 'searchLogForm'
            [columns] = "4"
            [value] = "now | date: 'yyyy-MM-dd'"
            controlName = 'endDate'
            maxL = "{{now | date:'yyyy-MM-dd'}}"
            name = 'Fin de Búsqueda'
            type = 'Date'
          ></app-input-container>
    </div>
<div *ngIf = "issues.length > 0"
     class = 'row animate__animated animate__fadeIn'>
  <div class = "col-lg-12">
    <div class = "panelsWithOutMinHeight pb-4">
      <app-title-cards icon = "fas fa-street-view"
                       title = "Usuario"></app-title-cards>
      <div class = "row mt-2">
        <div class = "col-2 mt-2 mb-2"><b>Nombre:</b></div>
        <div class = "col-10 mt-2 mb-2"><h6>{{this.issues[0].name}}</h6></div>
      </div>
      <div class = "row mt-2">
        <div class = "col-2 mt-2 mb-2"><b>Número de teléfono:</b></div>
        <div class = "col-10 mt-2 mb-2"><h6>{{this.issues[0].phone_number}}</h6></div>
      </div>
      <div class = "row">
        <div class = "col-2 mt-2 mb-2"><b>Módelo del teléfono:</b></div>
        <div class = "col-10 mt-2 mb-2"><h6>{{this.issues[0].userDevice}}</h6></div>
      </div>
      <div class = "row">
        <div class = "col-2 mt-2 mb-2"><b>Versión</b></div>
        <div class = "col-10 mt-2 mb-2"><h6>{{this.issues[0].version}}</h6></div>
      </div>
    </div>
  </div>
</div>

  <app-title-cards icon = "fas fa-users"
                   title = "Filtro de Bitácora"></app-title-cards>
  <table [dtOptions] = "dtOptions"
         [dtTrigger] = "dtTrigger"
         aria-label = "Log de incidencias"
         class = "table table-striped hover col-10"
         datatable>
    <thead>
    <tr>
      <th scope = "col">Fecha</th>
      <th scope = "col">Mensaje</th>
      <th scope = "col">Mensaje Auxiliar</th>
      <th scope = "col">Estación</th>
      <th scope = "col">Parqueo</th>
      <th scope = "col">Nivel</th>
      <th scope = 'col'>Opciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor = 'let issue of issues'
        class = 'animate__animated animate__fadeIn'>
      <td> {{issue.created_at}}</td>
      <td>{{issue.message}}</td>
      <td>{{issue.aux_msg}}</td>
      <td> {{issue.station_name}}</td>
      <td> {{issue.parking_name}}</td>

      <td style = 'position: relative'>
        <div style = 'display: inline-block'>{{issue.level}}</div>
        <div [ngClass] = "issue.level < 4 ? 'typeIssue lowstatus' : 'typeIssue highstatus'"></div>
      </td>
      <td>
        <button
          (click) = 'openContext(issue.context,contenido)'
          class = 'buttonRowQR'
          title = 'Context'><em class = 'fas fa-info'></em>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</app-panel-sub-module>
<ng-template #contenido
             let-modal>

  <div class = 'modal-header'>
    <h5 class = 'modal-title'>Log Capturado</h5>
    <button (click) = 'this.modal.close()'
            aria-label = 'Close'
            class = 'btn-close'
            type = 'button'></button>
  </div>
  <div class = 'modal-body'>
    <div class = 'list-group'>
      <ngx-json-viewer [depth] = "3"
                       [json] = "valContext"></ngx-json-viewer>
    </div>
  </div>
  <hr>
  <div class = 'text-center'>
    <button
      (click) = 'this.modal.close()'
      class = 'btn btn-secondary'
      data-bs-dismiss = 'modal'
      type = 'button'>Cerrar
    </button>
  </div>
</ng-template>
